<div class="container">

  <div class="documents-header">
    <span>
      <button mat-button class="expand-button" (click)="accordion.openAll()">Expand All</button>
    </span>
    <span>
      <button mat-button class="expand-button" (click)="accordion.closeAll()">Collapse All</button>
    </span>
    <span class="add-document">
      <span class="add-text"> Add new document <mat-icon>add</mat-icon> </span>
    </span>
    <span class="filter-container">
      <mat-form-field class="author-filter">
        <mat-label>Search Author</mat-label>
        <input type="tel" matInput placeholder="Eg: Edward Snowden">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Group</mat-label>
        <mat-select>
          <mat-option *ngFor="let group of documentGroups" [value]="group.name">
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>
  <mat-divider></mat-divider>

  <ng-container *ngFor="let documentByAuthor of documentsByAuthor">

    <div class="accordion-author-container">
      <span class="group-text"> Author: {{ documentByAuthor.name }} </span>
    </div>
    <mat-accordion *ngFor="let document of documentByAuthor.documents" class="headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{document.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{document.description}}
          </mat-panel-description>
          <div class="edit-delete-icons-container">
            <mat-icon (click)="$event.stopPropagation();$event.preventDefault()">edit</mat-icon>
            <mat-icon (click)="$event.stopPropagation();$event.preventDefault()">delete_outline</mat-icon>
          </div>
        </mat-expansion-panel-header>

        <mat-form-field>
          <!-- <mat-label>Age</mat-label> -->
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1">
            {{document.body}}
        </textarea>
        </mat-form-field>

      </mat-expansion-panel>

    </mat-accordion>

  </ng-container>
</div>
