.container {
  min-width: 94%;
  margin-bottom: 40px;

  .documents-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;

    .add-new {
      margin-top: 26px;
      margin-right: 20px;
      margin-left: 18px;
      padding: 6px;
      font-weight: 500;
      color: #2f2f2f;
      border-radius: 6px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .hidden-add-option {
          display: block;
        }
      }
    }

    &>span {
      margin-top: 2px;
    }
  }

  .add-text {
    display: flex;
    font-size: 18px;

    &>mat-icon {
      position: relative;
      top: 0.5px;
    }
  }

  .expand-button {
    font-weight: 500;
    color: #2f2f2f;
    outline-color: grey;
    padding: 6px;
    margin: 24px 14px 10px 10px;
    background: none;
    border: none;
    font-size: 18px;
    border-radius: 6px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .headers-align .mat-expansion-panel-header-title,
  .headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel-header-title {
    margin-top: 6px;
  }

  .mat-expansion-panel-header-description {
    @media only screen and (max-width: 980px) {
      display: none;
    }
  }

  mat-form-field {
    width: 100%;
    overflow: hidden;
  }

  textarea {
    box-sizing: content-box;
  }

  .accordion-author-container {
    margin-top: 40px;
    background-color: #e0c9ad;
    margin-bottom: -5px;
    width: 400px;
    border-radius: 6px;
  }

  .group-text {
    font-size: 17px;
    font-weight: 500;
    padding: 14px;
    padding-top: 12px;
    height: 50px;
    display: flex;

    &:hover {
      .edit-delete-author-icons {
        visibility: visible;
      }
    }
  }

  .edit-delete-icons-container {
    margin-right: 10px;
    visibility: hidden;

    &>mat-icon {
      margin: 6px 8px 0 8px;
      opacity: 0.6;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .filter-container {
    margin-left: auto;
    display: flex;

    &>mat-form-field {
      margin-right: 30px;
      margin-top: 10px;
      margin-bottom: -10px;
    }
  }

}

.select-panel {
  background-color: rgb(255, 255, 255) !important;
}

.select-panel,
.select-panel>* {
  background-color: rgb(255, 255, 255) !important;
}

.hidden-add-option {
  z-index: 9;
  position: absolute;
  background-color: white;
  width: 200px;
  border-radius: 6px;
  display: none;
  margin-top: 6px;
}

mat-list-item {
  border-bottom: 1px solid lightgrey;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

}

.slide-panel-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 100%;
  z-index: 12;

  @media only screen and (max-width: 1600px) {
    width: 50%;
  }

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

.edit-author-icon {
  margin-right: 12px;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 0.9;
  }
}

.delete-author-icon {
  margin-right: 6px;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 0.9;
  }
}

.edit-delete-author-icons {
  margin-left: auto;
  visibility: hidden;
}

.edit-delete-icons-container.visible-icons {
  visibility: visible !important;
}

.group-edit-selected {
  border-top: 1px dashed rgb(153, 153, 153);
  font-weight: 500;
}

.group-delete-selected {
  font-weight: 500;
}

.mat-expansion-panel {
  width: 91vw;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-dialog {
  top: 20%;
}

.modal-header {
  background-color: #478cc3;
  color: white;
  padding: .6rem .6rem .7rem .8rem;
}

.modal-header .close {
  position: absolute;
  right: 20px;
}

.modal-content {
  border-radius: .4rem;
}


.mat-expansion-panel-header-title {
  font-weight: 500;
}
