.container {
  min-width: 94%;

  .documents-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;

    .add-document {
      margin-top: 21px;
      margin-right: 20px;
      margin-left: 18px;
      padding: 6px;
      font-weight: 500;
      color: #2f2f2f;
      border-radius: 6px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    & > span {
      margin-top: 2px;
    }
  }

  .add-text {
    display: flex;
  }

  .expand-button {
    font-weight: 500;
    margin-top: 20px;
    color: #2f2f2f;
    outline-color: grey;
    padding: 6px;
    margin: 20px 14px 10px 10px;
    background: none;
    border: none;
    border-radius: 6px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .action-buttons {
    padding-bottom: 20px;
  }

  .headers-align .mat-expansion-panel-header-title,
  .headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel-header-title {
    margin-top: 6px;
  }

  .mat-expansion-panel-header-description {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  mat-form-field {
    width: 100%;
    overflow: hidden;
  }

  textarea {
    box-sizing: content-box;
  }

  .accordion-group-container {
    background-color: #dadada;
    margin-bottom: -5px;
    width: 260px;
    border-radius: 6px;
    margin-top: 20px;
  }

  .accordion-author-container {
    background-color: #e4e4e4;
    margin-bottom: -5px;
    width: 400px;
    border-radius: 6px;
  }

  .group-text {
    font-size: 17px;
    padding: 14px;
    padding-top: 8px;
    display: block;
  }

  .edit-delete-icons-container {
    & > mat-icon {
      margin: 6px 8px 0 8px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .filter-container {
    margin-left:auto;
    display: flex;
    & > mat-form-field {
      margin-right: 30px;
      margin-top: 10px;
    }
  }
}
