<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Add Author</mat-card-title>
    <mat-icon class="close-icon">close</mat-icon>
  </mat-card-header>
  <mat-divider> </mat-divider>
  <mat-card-content>
    <div class="form-container">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Author Name">
          <mat-hint>Required</mat-hint>
        </mat-form-field>
      </p>
      <p>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Author Description" rows="5" cols="40"></textarea>
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
      </p>
    </div>
  </mat-card-content>
  <mat-divider> </mat-divider>
  <mat-card-actions>
    <span class="buttons-container">
      <button type="button" class="btn btn-default s-button" (click)="true">Cancel</button>
      <button type="button" class="btn btn-default s-button" (click)="true">Save</button>
    </span>
  </mat-card-actions>
</mat-card>
