.container {
  min-width: 80%;

  .second-row {
    margin: 40px 0 0 0;

    textarea {
      min-height: 60vh;
    }

    .validation-message {
      color: #b94b29;
      padding-left: 10px;
      position: absolute;
    }
  }

  .btn-container {
    margin: 0 auto;

    .btn {
      background-color: #007bff;
      border-color: #007bff;
      padding: 8px 12px;
      color: white;
      font-size: 18px;
      margin: 0 10px 0 0;
    }
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-dialog {
  top: 20%;
}

.modal-header {
  background-color: #478cc3;
  color: white;
  padding: .6rem .6rem .7rem .8rem;
}

.modal-header .close {
  position: absolute;
  right: 20px;
}

.modal-content {
  border-radius: .4rem;
}

.modal-footer {
  margin-top: 20px;
  height: 60px;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 18px;
}
