<div class="container">
      <div class="notepaper">
        <figure class="quote">
          <blockquote class="curly-quotes">
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            <br>
            <br>
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            <br>
            <br>
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            The same wind blows on us all.
            The difference in arrival is not
            the blowing of the wind,
            but the set of the sail.
            <br>
            <br>
            "Man is least himself when he talks in his own person.
            Give him a mask, and he will tell you the truth." - Oscar Wilde
          </blockquote>
        </figure>
  </div>
</div>
