<div class="container">
      <div class="notepaper">
        <figure class="quote">
          <blockquote class="curly-quotes">
            - Stylometry is the statistical analysis of variations in literary style between one writer or genre and another.
            <br><br>
            - It is is often used to attribute authorship to anonymous or disputed documents. It has legal as well as academic and literary applications, ranging from the question of the authorship of Shakespeare's works to forensic linguistics. Stylometric methods are discussed in several academic fields such as machine learning, natural language processing, and lexicography.
            <br><br>
            - Stylometry can also be an important weapon for governments that want to analyze information on the internet. To be able to identify a suspected activist on the basis of his or her writing, to be able to attribute certain texts, to store the stylistic fingerprints of everybody on the basis of what they write online, or to be able to use these techniques as evidence in a trial only strengthens the surveillance state we now live under.
            <br><br>
            - This tool is designed to analyze a text's features and attribute it to one of the known authors, the one that has the most similar writing style. Thus, it can be used as a tool to check the real anonymity of a piece of text. In order to find the correct author of course, some of his documents must be inserted into the application so that his writing style can be inferred. The more data we have on an author, the better his writing style can be analyzed. Another feature of this application is the categorization of documents into user defined groups, so that we can search for the author of the disputed text only in the desired group of documents.
            <br><br>
            - It can also help evade behavioral biometric recognition by copying the text from this tool and pasting it to untrusted websites.
            <br><br>
            - "Man is least himself when he talks in his own person. Give him a mask, and he will tell you the truth." - Oscar Wilde
          </blockquote>
        </figure>
  </div>
</div>
