<div class="container">
  <form [formGroup]="stylometryForm">

    <div class="toggle-menu-container" *ngIf="duringProcess">
      <div class="toggle-button-cotainer">
        <mat-button-toggle-group name="mode" aria-label="mode" value="edit">
          <mat-button-toggle value="input" (click)="setMode(false)">Input Mode</mat-button-toggle>
          <mat-button-toggle value="edit" (click)="setMode(true)">Edit Mode</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="reset-button-container">
        <button mat-fab color="warn" class="restart-button" aria-label="Restart">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>

    <div class="first-row" *ngIf="comparisonResult">
      <mat-label>Most Probable Author:</mat-label>
      <div class="author-container">
        {{  comparisonResult | titlecase }}
      </div>
    </div>

    <div class="row second-row" *ngIf="allTokens.length>0">
      <div class="color-guide-chips">
        <mat-label>Corpus Tokens:</mat-label>
        <mat-chip-list class="guide-chip-list">
          <mat-chip [removable]='false' class="mat-chip-blue" selected> Verbs </mat-chip>
          <mat-chip [removable]='false' class="mat-chip-grey" selected> Adjectives </mat-chip>
          <mat-chip [removable]='false' class="mat-chip-pink" selected> Nouns </mat-chip>
          <mat-chip [removable]='false' class="mat-chip-beige" selected> Adverbs </mat-chip>
          <mat-chip [removable]='false' class="mat-chip-cyan" selected> Pronouns </mat-chip>
          <mat-chip [removable]='false' class="mat-chip-red" selected> Other parts of speech </mat-chip>
        </mat-chip-list>

        <!-- <button type="button" class="btn btn-default reset-tokens" (click)="resetTokens()">Reset Tokens</button> -->
      </div>
      <div class="chips-container">
        <mat-chip-list aria-label="Tokens">
          <mat-chip *ngFor="let tokenPair of filteredTokens" [removable]="true" (removed)="removeToken(tokenPair)" selected  [ngClass]="getChipColor(tokenPair)">
            {{ tokenPair.token }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div class="h-50 row third-row">
      <div class="col-md-12 mb-6 mb-md-0">

          <mat-form-field appearance="outline" *ngIf="!editMode && !duringProcess">
            <mat-label>Category</mat-label>
            <mat-select panelClass="select-panel" formControlName="groupSelect">
              <mat-option *ngFor="let group of documentGroups" [value]="group.id">
                {{group.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <div *ngIf="editMode"  class="tokenized-text-container">
          <div class="tokenized-text">
            <span class="word-token" *ngFor="let tokenPair of anonymousTextTokens">
              <p [ngClass]="underlineTokensInText(tokenPair)">
                {{ tokenPair.token }}
              </p>
            </span>
          </div>
        </div>

        <textarea *ngIf="!editMode" class="form-control" rows="14" placeholder="Write the text you want to anonymize here..."
          id="textarea-left" formControlName="anonymousTextArea" #anonymousTextArea>
          <ng-template *ngFor="let tokenPair of anonymousTextTokens">
            <li>  tokenPair </li>
        </textarea>
        <small *ngIf="!stylometryForm.get('anonymousTextArea').valid && stylometryForm.get('anonymousTextArea').touched"
          class="form-text validation-message">* The above text is required</small>

      </div>
    </div>

    <div class="h-15 row">
      <div class="btn-container mb-4">
        <button type="button" (click)="startAnalysis()" class="btn anonymize"
          [disabled]="!stylometryForm.get('anonymousTextArea').valid">
          &nbsp;&nbsp;Start Analysis&nbsp;&nbsp;
        </button>
        <button type="button" (click)="evaluate()" class="btn anonymize" [disabled]="!comparisonResult || !stylometryForm.get('anonymousTextArea').valid">
          &nbsp;&nbsp;Check Anonymization&nbsp;&nbsp;
        </button>
        <!-- <button type="button" (click)="copyAnonymousTextToClipboard()" class="btn anonymize"
          [disabled]="!stylometryForm.get('anonymousTextArea').valid">
          &nbsp;&nbsp;Copy To Clipboard&nbsp;&nbsp;
        </button> -->
      </div>
    </div>

  </form>



  <div class="backdrop" [ngStyle]="{'display':displaySuccessModal}"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displaySuccessModal}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeDialog(1)"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Most Probable Author</h4>
        </div>
        <div class="modal-body">
          <p>{{ comparisonResult | titlecase}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeDialog(1)">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->

  <div class="backdrop" [ngStyle]="{'display':displayErrorModal}"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayErrorModal}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeDialog(2)"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Request Unsuccessful</h4>
        </div>
        <div class="modal-body">
          <p>{{ comparisonError }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeDialog(2)">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->

  <div class="backdrop" [ngStyle]="{'display':displayResetModal}"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayResetModal}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeDialog(3)"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Start Analysis</h4>
        </div>
        <div class="modal-body">
          <p>All changes will be lost! Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeDialog(3)">Close</button>
          <button type="button" class="btn btn-default" (click)="closeDialog(3);analyse()">Proceed</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->

  <div class="backdrop" [ngStyle]="{'display':displayChangedGroupModal}"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayChangedGroupModal}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="closeDialog(4)"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Category Changed</h4>
        </div>
        <div class="modal-body">
          <p>You have changed document category. Anonymization can be done only if the initial category of the analysis is selected. Revert to the initial category or restart the process click Stylometry Analysis. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeDialog(4)">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->

</div>
